:root {
    --rose-800: #7A284E;
    --rose-50: #FFF7FB;
    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;
    --brown-800: #854632;
    --white: #FFFFFF;
    --font-family-title: 'Young Serif', serif;
    --font-family-main: 'Outfit', sans-serif;
    --line-height: 1.5rem;
    --font-size-mobile-1: 2.25rem;
    --font-size-desktop-1: 2.5rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --spacing-100: 0.5rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-1600: 8rem;
    --mobile: 375px;
    --tablet: 768px;
    --desktop: 1440px;
}

@font-face {
    font-family: var(--font-family-title);
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: var(--font-family-main);
    src: url('../assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: var(--font-family-main);
    src: url('../assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: var(--font-family-main);
    src: url('../assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: var(--font-family-main);
    font-size: var(--font-size-4);
    line-height: var(--line-height);
    color: var(--stone-600);
    background-color: var(--stone-100);
}