@import './basic.css';

.recipe {
    display: flex;
    flex-direction: column;
    width: var(--mobile);
    margin: auto;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--white);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

.head {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-mobile-1);
    font-weight: 400;
    line-height: 2.25rem;
    color: var(--stone-900);
}

.subtitle {
    font-family: var(--font-family-title);
    font-size: var(--font-size-2);
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--brown-800);
}

.time {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    width: 100%;
    padding: var(--spacing-300);
    border-radius: 12px;
    background-color: var(--rose-50);
}

.time_title {
    font-size: var(--font-size-3);
    font-weight: 600;
    line-height: 1.25rem;
    color: var(--rose-800);
}

.time_item {
    position: relative;
}

.time_item::before {
    display: block;
    position: absolute;
    left: -5%;
    bottom: 50%;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--rose-800);
}

.ingredients_item {
    position: relative;
}

.ingredients_item::before {
    display: block;
    position: absolute;
    left: -5%;
    bottom: 50%;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--brown-800);
}

.subsection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-left: var(--spacing-500);
}

.accent {
    font-weight: 700;
}

.instructions_item {
    position: relative;
}

.number {
    position: absolute;
    left: -5%;
    font-weight: 700;
    color: var(--brown-800);
}

.nutrition {
    padding: 0 var(--spacing-400);
}

.nutrition_value {
    font-weight: 700;
    color: var(--brown-800);
}

@media screen and (max-width: 767px) {
    .content {
        padding: var(--spacing-500);
    }
}

@media screen and (min-width: 768px) {
    .recipe {
        width: 616px;
        margin-top: var(--spacing-1600);
        margin-bottom: var(--spacing-1600);
        padding: var(--spacing-500);
        gap: var(--spacing-500);
    }

    .pic {
        border-radius: 12px;
    }

    .title {
        font-size: var(--font-size-desktop-1);
        line-height: 2.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .recipe {
        width: 736px;
    }
}